.project {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.buttons {
  margin: 0;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
  width: 20%;
  border-radius: 55%;
  border: black 2px solid;
}

.blue {
  background-color: blue;
  width: 20%;
  border-radius: 55%;
  border: black 2px solid;
}

.dark {
  background-color: black;
  color: white;
}

.dark-button {
  border: white 2px solid !important;
}
